[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "vvcanvas"]
	path = vvcanvas
	url = https://github.com/vusaverse/vvcanvas
[submodule "vvconverter"]
	path = vvconverter
	url = https://github.com/vusaverse/vvconverter
[submodule "vvdoctor"]
	path = vvdoctor
	url = https://github.com/vusaverse/vvdoctor
[submodule "vvfiller"]
	path = vvfiller
	url = https://github.com/vusaverse/vvfiller
[submodule "vvmover"]
	path = vvmover
	url = https://github.com/vusaverse/vvmover
[submodule "vvtableau"]
	path = vvtableau
	url = https://github.com/vusaverse/vvtableau
[submodule "vvtermtime"]
	path = vvtermtime
	url = https://github.com/vusaverse/vvtermtime
